<div fxLayout="column">
    <app-title [bgImage]=experience [matIcon]="'work_outline'" [title]="'Experience'"></app-title>
    <mat-card class="stdMarginNoBottom">
        <mat-card-title>
            Manulife<br>
            <small>Visiting Platform Reliability Engineer - Co-op</small>
        </mat-card-title>
        <mat-card-subtitle>September 2019 to December 2019</mat-card-subtitle>
        <mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <p>Platform Support</p>
            <mat-card-subtitle>Provided support for developers using the company platform.</mat-card-subtitle>
            <mat-card-subtitle>Acquired experience with Pivotal Cloud Foundry, Concourse CI, Apigee, and ServiceNow.
            </mat-card-subtitle>
            <mat-card-subtitle>Gained valuable insight into how a large multinational handles their tech stack and
                provides a reliable platform for all developers and IT products.</mat-card-subtitle>
            <mat-card-subtitle>Learned about how software moves from development to production environments, and the
                checks that need to be done at each level to ensure quality.</mat-card-subtitle>
            <mat-divider [inset]="true"></mat-divider>
            <p>Platform Automation</p>
            <mat-card-subtitle>Helped develop custom tools to automate parts of the platform, for example, automatically
                deleting unused Apps on a regular basis.
            </mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <mat-card class="stdMargin">
        <mat-card-title>
            Seneca College<br>
            <small>Programmer - Co-op</small>
        </mat-card-title>
        <mat-card-subtitle>January 2019 to April 2019</mat-card-subtitle>
        <mat-card-content>
            <mat-divider [inset]="true"></mat-divider>
            <p>International Student Sign-Up Web Application</p>
            <mat-card-subtitle>Worked with a small team over 4 months to build a sign-up web application for
                international students.</mat-card-subtitle>
            <mat-card-subtitle>Focused on the frontend with Angular, Angular-Material and NgRx.</mat-card-subtitle>
            <mat-card-subtitle>Contributed to a lesser extent to the Node.js and Express backend APIs and MS SQL
                Database.</mat-card-subtitle>
            <mat-divider [inset]="true"></mat-divider>
            <p>Chatbot Responses Tool</p>
            <mat-card-subtitle>Built a website that let employees manage responses for a public support chatbot.
            </mat-card-subtitle>
            <mat-card-subtitle>Developed over 3 weeks in Node.js.</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>