<div fxLayout="column" fxLayoutGap="1em">
    <mat-card>
        <mat-card-title fxLayout="row" fxLayoutAlign="start top" fxLayoutAlign.lt-sm="center top">
            <mat-icon>work_outline</mat-icon>Experience
        </mat-card-title>
    </mat-card>
    <mat-card [ngStyle]="{'background-image': 'url(' + seneca + ')'}">
        <mat-card-title>
            Seneca College<br>
            <small>Programmer - Co-op</small>
        </mat-card-title>
        <mat-card-subtitle>January 2019 to Present</mat-card-subtitle>
        <mat-card-content>
            <p>Worked with Angular, Node.js and SQL</p>
            <mat-divider [inset]="true"></mat-divider>
            <p><b>International Student Application App</b></p>
            <p>Content comes here...</p>
            <mat-divider [inset]="true"> </mat-divider>
            <p><b>Chatbot Responses Tool</b></p>
            <p>Content comes here...</p>
        </mat-card-content>
    </mat-card>
</div>