<div fxLayout="column" fxLayoutGap="1em">
    <mat-card [ngStyle]="{'background-image': 'url(' + experience + ')'}">
        <mat-card-title fxLayout="row" fxLayoutAlign="start top" fxLayoutAlign.lt-sm="center top">
            <mat-icon>work_outline</mat-icon>Experience
        </mat-card-title>
    </mat-card>
    <mat-card>
        <mat-card-title>
            Seneca College<br>
            <small>Programmer - Co-op</small>
        </mat-card-title>
        <mat-card-subtitle>January 2019 to Present</mat-card-subtitle>
        <mat-card-content>
            <p>Worked with Angular, Node.js and SQL</p>
            <mat-divider [inset]="true"></mat-divider>
            <p>International Student Application App</p>
            <mat-card-subtitle>Worked with a small team over 4 months to build an Application website for international students.</mat-card-subtitle>
            <mat-card-subtitle>Focused on the frontend with Angular, Angular-Material and NgRx.</mat-card-subtitle>
            <mat-card-subtitle>Contributed to a lesser extent to the Node.js and Express backend APIs and MS SQL Database.</mat-card-subtitle>
            <mat-divider [inset]="true"></mat-divider>
            <p>Chatbot Responses Tool</p>
            <mat-card-subtitle>Built a website that let employees manage responses for a public support chatbot.</mat-card-subtitle>
            <mat-card-subtitle>Developed over 3 weeks in Node.js.</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>