<div fxLayout="column" fxLayoutGap="1em">
    <mat-card [ngStyle]="{'background-image': 'url(' + education + ')'}">
        <mat-card-title fxLayout="row" fxLayoutAlign="start top" fxLayoutAlign.lt-sm="center top">
            <mat-icon>book_outline</mat-icon>Education
        </mat-card-title>
    </mat-card>

    <mat-card>
        <mat-card-title>Seneca College</mat-card-title>
        <mat-card-subtitle>September 2017 to Present</mat-card-subtitle>
        <mat-card-content>
            <p>Computer Programming and Analysis</p>
            <mat-divider [inset]="true"></mat-divider>
            <p>3 Year Advanced Diploma</p>
            <mat-card-subtitle>Desktop and Web Development.</mat-card-subtitle>
            <mat-card-subtitle>Database Design and Management.</mat-card-subtitle>
            <mat-card-subtitle>Systems Development and Design.</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>