<div fxLayout="column">
    <app-title [bgImage]=education [matIcon]="'book_outline'" [title]="'Education'"></app-title>
    <mat-card class="stdMargin">
        <mat-card-title>Seneca College</mat-card-title>
        <mat-card-subtitle>September 2017 to Present</mat-card-subtitle>
        <mat-card-content>
            <p>Computer Programming and Analysis</p>
            <mat-divider [inset]="true"></mat-divider>
            <p>3 Year Advanced Diploma</p>
            <mat-card-subtitle>Desktop and Web Development.</mat-card-subtitle>
            <mat-card-subtitle>Database Design and Management.</mat-card-subtitle>
            <mat-card-subtitle>Systems Development and Design.</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>