<mat-card>
  <div *ngIf="!loading else loadingScreen;">

    <mat-card-header>
      <mat-card-title fxLayoutAlign="center">
        <mat-icon>book</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Education
      </mat-card-title>
    </mat-card-header>

    <div *ngIf="education">
      <div *ngFor="let entry of education.entries;">
        <mat-divider></mat-divider>
        <mat-card-content class="entry">

          <mat-card-title>
            {{entry.place}}
          </mat-card-title>


          <mat-card-subtitle>From {{entry.startDate}} to <span *ngIf="!entry.isCurrent">{{entry.endDate}}</span><span
              *ngIf="entry.isCurrent">Present</span>
          </mat-card-subtitle>

          <p>{{entry.description.descriptionText}}</p>

          <div *ngFor="let pointSet of entry.description.descriptionPointSets">
            <b>{{pointSet.pointSetTitle}}</b>
            <p *ngFor="let point of pointSet.points"> - {{point}}</p>
          </div>

        </mat-card-content>
      </div>
    </div>
  </div>

  <ng-template #loadingScreen>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>

</mat-card>