<div fxLayout="column" fxLayoutGap="1em">
  <mat-card [ngStyle]="{'background-image': 'url(' + projects + ')'}">
    <mat-card-title fxLayout="row" fxLayoutAlign="start top" fxLayoutAlign.lt-sm="center top">
      <mat-icon>code_outline</mat-icon>Projects
    </mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-title><a href="http://andika1.herokuapp.com" target="_blank">Andika</a></mat-card-title>
    <mat-card-subtitle>Note Taking Web Application made with Angular, Node.js and PostgreSQL.
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        <a href="https://github.com/ImranR98/andika" target="_blank">GitHub</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>