<div fxLayout="column">
    <app-title [bgImage]=projects [matIcon]="'code'" [title]="'Education'"></app-title>
    <mat-card class="stdMargin">
    <mat-card-title><a href="http://andika1.herokuapp.com" target="_blank">Andika</a></mat-card-title>
    <mat-card-subtitle>Note Taking Web Application made with Angular, Node.js and PostgreSQL.
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        <a href="https://github.com/ImranR98/andika" target="_blank">GitHub</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>