<div fxLayout="column" fxLayoutGap="1em">
  <mat-card [ngStyle]="{'background-image': 'url(' + projects + ')'}">
    <mat-card-title fxLayout="row" fxLayoutAlign="start top" fxLayoutAlign.lt-sm="center top">
      <mat-icon>code_outline</mat-icon>Projects
    </mat-card-title>
  </mat-card>

  <mat-card>
    <mat-card-title>signIn</mat-card-title>
    <mat-card-subtitle>Demo Sign In/Out Application with Angular, Node.js and PostgreSQL.
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        <a href="https://github.com/ImranR98/signin" target="_blank">GitHub</a>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>Chat-IR15</mat-card-title>
    <mat-card-subtitle>A simple Global Chat app using Node.js, Angular, Socket.io and NgRx.
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        <a href="https://github.com/ImranR98/Chat-IR15" target="_blank">GitHub</a>
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-title>SimpleNotes</mat-card-title>
    <mat-card-subtitle>Note Taking App built with Node.js and ExpressJS. Uses PostgreSQL for storing all data.
    </mat-card-subtitle>
    <mat-card-content>
      <p>
        <a href="https://github.com/ImranR98/SimpleNotes" target="_blank">GitHub</a>
      </p>
    </mat-card-content>
  </mat-card>
</div>