<app-other-pages-container [title]="'About'" [icon]="'info_outline'">
    <p fxLayout="row" fxLayoutGap="1em">
        <a href="https://github.com/ImranR98/ImranR-Resume" target="_blank">Code available on</a>
        <a href="https://github.com/ImranR98/ImranR-Resume" target="_blank" fxLayout="row"
            fxLayoutAlign="end center"><img src='../../assets/git.png' class="width1em"></a>
    </p>
    <p fxLayout="row" fxLayoutGap="1em">
        <a href="https://angular.io" target="_blank">Made with</a>
        <a href="https://angular.io" target="_blank" fxLayout="row" fxLayoutAlign="end center"><img
                src='../../assets/angular.svg' class="width1point4em"></a>
    </p>
</app-other-pages-container>