<app-title [title]="'Experience'" [icon]="'work_outline'"></app-title>

<div fxLayout="column" fxLayoutGap="1em" class="stdMargin">
    <div fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="column">
            <div fxLayout="column" fxLayoutGap="0.3em">
                <span class="manulife xLargeText">Manulife Financial</span>
                <span class="largeText">Visiting Platform Reliability Engineer - Co-op</span>
            </div>
            <span class="smallText">September 2019 to December 2019</span>
        </div>
        <div fxLayout="column">
            <span>Platform Support</span>
            <ul>
                <li>Provided support for developers using the company platform.</li>
                <li>Acquired experience with Pivotal Cloud Foundry, Concourse CI, Apigee, and ServiceNow.</li>
                <li>Gained insight into how to manage a reliable platform for all developers and IT products, at scale.
                </li>
                <li>Learned about the journey of software from development to production, including quality assurance.
                </li>
            </ul>
        </div>
        <div fxLayout="column">
            <span>Platform Automation</span>
            <ul>
                <li>Developed custom tools to automate parts of the platform, for example, automatically deleting unused
                    Apps on a regular basis.</li>
            </ul>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="column">
            <div fxLayout="column" fxLayoutGap="0.3em">
                <span class="seneca xLargeText">Seneca College</span>
                <span class="largeText">Programmer - Co-op</span>
            </div>
            <span class="smallText">January 2019 to April 2019</span>
        </div>
        <div fxLayout="column">
            <span>International Student Sign-Up Web Application</span>
            <ul>
                <li>Worked with a small team over 4 months to build a sign-up web application for international
                    students.</li>
                <li>Focused on the frontend with Angular, Angular-Material and NgRx.</li>
                <li>Contributed to the Node.js + Express backend and testing of the AzureSQL Database.</li>
                <li>Used Microsoft Azure DevOps for CI/CD and to collaborate on the Project.</li>
            </ul>
        </div>
        <div fxLayout="column">
            <span>Chatbot Responses Tool</span>
            <ul>
                <li>Developed a website over 3 weeks with Node.js and Handlebars that let employees manage responses for
                    a public support chatbot.</li>
            </ul>
        </div>
    </div>
</div>