<app-other-pages-container [title]="'Experience'" [icon]="'work_outline'">
    <div fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="column" fxLayoutGap="1em">
            <div fxLayout="column">
                <div fxLayout="column" fxLayoutGap="0.3em">
                    <span class="manulife xLargeText">Manulife Financial</span>
                    <span class="largeText">Visiting Platform Reliability Engineer - Co-op</span>
                </div>
                <span class="smallText">September 2019 to December 2019</span>
            </div>
            <div fxLayout="column">
                <span>Platform Support</span>
                <ul>
                    <li>Provided support for developers using the xLargeText platform.</li>
                    <li>Acquired experience with Pivotal Cloud Foundry, Concourse CI, Apigee, and ServiceNow.</li>
                    <li>Gained valuable insight into how a large multinational handles their tech stack and provides a
                        reliable platform for all developers and IT products.</li>
                    <li>Learned about how software moves from development to production environments, and the checks
                        that
                        need to be done at each level to ensure quality.</li>
                </ul>
            </div>
            <div fxLayout="column">
                <span>Platform Automation</span>
                <ul>
                    <li>Helped develop custom tools to automate parts of the platform, for example, automatically
                        deleting
                        unused Apps on a regular basis.</li>
                </ul>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="1em">
            <div fxLayout="column">
                <div fxLayout="column" fxLayoutGap="0.3em">
                    <span class="seneca xLargeText">Seneca College</span>
                    <span class="largeText">Programmer - Co-op</span>
                </div>
                <span class="smallText">January 2019 to April 2019</span>
            </div>
            <div fxLayout="column">
                <span>International Student Sign-Up Web Application</span>
                <ul>
                    <li>Worked with a small team over 4 months to build a sign-up web application for international
                        students.</li>
                    <li>Focused on the frontend with Angular, Angular-Material and NgRx.</li>
                    <li>Contributed to a lesser extent to the Node.js and Express backend APIs and MS SQL Database.</li>
                </ul>
            </div>
            <div fxLayout="column">
                <span>Chatbot Responses Tool</span>
                <ul>
                    <li>Built a website that let employees manage responses for a public support chatbot.</li>
                    <li>Developed over 3 weeks in Node.js.</li>
                </ul>
            </div>
        </div>
    </div>
</app-other-pages-container>