<app-title [title]="'Projects'" [icon]="'code_outline'"></app-title>

<div fxLayout="column" fxLayoutGap="1em" class="stdMargin">
    <div fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="column">
            <div fxLayout="column" fxLayoutGap="0.3em">
                <span class="andika xLargeText">Andika</span>
                <span class="largeText">Note Taking Web Application made with Angular, Node.js and PostgreSQL.</span>
            </div>
            <div fxLayout="row" fxLayoutGap="1em">
                <span class="smallText"><a href="http://andika.imranr.dev/" target="_blank"
                        class="hiddenLink">Website</a></span>
                <span class="smallText"><a href="https://github.com/ImranR98/andika" target="_blank"
                        class="hiddenLink">Source</a></span>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="column">
            <div fxLayout="column" fxLayoutGap="0.3em">
                <span class="lipa xLargeText">TinyStock</span>
                <span class="largeText"> Minimal stock keeping App built with Electron, Node.js and Angular.</span>
            </div>
            <div fxLayout="row" fxLayoutGap="1em">
                <span class="smallText"><a href="https://github.com/ImranR98/TinyStock" target="_blank"
                        class="hiddenLink">Source</a></span>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="column">
            <div fxLayout="column" fxLayoutGap="0.3em">
                <span class="tuma xLargeText">Tuma</span>
                <span class="largeText">Upload files to SFTP servers. Made with Flutter.</span>
            </div>
            <div fxLayout="row" fxLayoutGap="1em">
                <span class="smallText"><a href="https://play.google.com/store/apps/details?id=dev.imranr.tuma" target="_blank"
                        class="hiddenLink">Play Store</a></span>
                <span class="smallText"><a href="https://github.com/ImranR98/Tuma" target="_blank"
                        class="hiddenLink">Source</a></span>
            </div>
        </div>
    </div>
</div>