<div fxLayout="column" fxLayoutGap="1em">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="3em" class="stdPadding">
        <div fxLayout="column" fxLayoutGap="1em" fxFlex="100%">
            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center" class="fadeIntoView">
                <img alt="Letter A picture" src="/static/images/andika.jpg" class="logo">
                <div fxLayout="column" fxLayoutGap="0.5em">
                    <div fxLayout="column">
                        <h2>Andika</h2>
                        <p>Note taking Web app made with Angular, Node.js and PostgreSQL</p>
                    </div>
                    <small><a rel="noreferrer" href="https://github.com/ImranR98/andika"
                            target="_blank">GitHub</a></small>
                </div>
            </div>
        </div>
        <div fxLayout="column" fxLayoutGap="1em" fxFlex="100%">
            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center" class="fadeIntoView">
                <img alt="TinyStock Logo" src="/static/images/tinystock.jpg" class="logo">
                <div fxLayout="column" fxLayoutGap="0.5em">
                    <div fxLayout="column">
                        <h2>TinyStock</h2>
                        <p>Minimal stock keeping desktop App built with Angular, Node.js and Electron
                        </p>
                    </div>
                    <small><a rel="noreferrer" href="https://github.com/ImranR98/TinyStock"
                            target="_blank">GitHub</a></small>
                </div>
            </div>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="3em" class="stdPadding">
        <div fxLayout="column" fxLayoutGap="1em" fxFlex="100%">
            <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center" class="fadeIntoView">
                <img alt="Tuma Logo" src="/static/images/tuma.jpg" class="logo">
                <div fxLayout="column" fxLayoutGap="0.5em">
                    <div fxLayout="column">
                        <h2>Tuma</h2>
                        <p>Upload files to SFTP servers - Made with Flutter</p>
                    </div>
                    <small><a rel="noreferrer" href="https://github.com/ImranR98/Tuma"
                            target="_blank">GitHub</a></small>
                </div>
            </div>
        </div>
    </div>
</div>