<app-title [title]="'Projects'" [icon]="'code_outline'"></app-title>

<div fxLayout="column" fxLayoutGap="1em" class="stdMargin">
    <div fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="column">
            <div fxLayout="column" fxLayoutGap="0.3em">
                <span class="andika xLargeText">Andika</span>
                <span class="largeText">Note Taking Web Application made with Angular, Node.js and PostgreSQL.</span>
            </div>
            <div fxLayout="row" fxLayoutGap="1em">
                <span class="smallText"><a href="http://andika.imranr.dev/" target="_blank"
                        class="hiddenLink">Website</a></span>
                <span class="smallText"><a href="https://github.com/ImranR98/andika" target="_blank"
                        class="hiddenLink">Source</a></span>
            </div>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="1em">
        <div fxLayout="column">
            <div fxLayout="column" fxLayoutGap="0.3em">
                <span class="lipa xLargeText">Lipa</span>
                <span class="largeText">Calculates the amount each person owes when splitting a reciept. Made with Angular.</span>
            </div>
            <div fxLayout="row" fxLayoutGap="1em">
                <span class="smallText"><a href="http://lipa.imranr.dev/" target="_blank"
                        class="hiddenLink">Website</a></span>
                <span class="smallText"><a href="https://github.com/ImranR98/lipa" target="_blank"
                        class="hiddenLink">Source</a></span>
            </div>
        </div>
    </div>
</div>