<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="3em" class="stdPadding">
    <div fxLayout="column" fxLayoutGap="1em" fxFlex="100%">
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center" class="fadeIntoView">
            <img alt="Manulife Financial logo" src="/static/images/manulife.jpg" class="logo">
            <div fxLayout="column" fxLayoutGap="0.5em">
                <div fxLayout="column">
                    <h2>Manulife Financial</h2>
                    <p>Visiting Platform Reliability Engineer - Co-op</p>
                </div>
                <small>September - December 2019</small>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="1em" fxFlex="100%">
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center" class="fadeIntoView">
            <img alt="Seneca College Logo" src="/static/images/seneca.jpg" class="logo">
            <div fxLayout="column" fxLayoutGap="0.5em">
                <div fxLayout="column">
                    <h2>Seneca College</h2>
                    <p>Programmer - Co-op</p>
                </div>
                <small>September - December 2019</small>
            </div>
        </div>
    </div>
</div>