<div fxLayout="column" fxLayoutAlign="start" class="bigContainer">
    <app-header></app-header>
    <div class="cardBG mat-elevation-z1 higher" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="1em">
        <span class="stdPadding"><small>Toronto&nbsp;&nbsp;<img src='../../assets/ca.svg' style='width:12pt;'>
                &nbsp;&nbsp;|&nbsp;&nbsp;
                Software development student with a passion for learning and an interest in
                Web and
                App development</small>
        </span>
        <div class="stdPaddingRight">
            <button mat-icon-button matTooltip="Light Mode" aria-label="Light Mode" *ngIf="isDark"
                (click)="toggleTheme()">
                <mat-icon>brightness_7</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Dark Mode" aria-label="Dark Mode" *ngIf="!isDark"
                (click)="toggleTheme()">
                <mat-icon>brightness_4</mat-icon>
            </button>
        </div>

    </div>
    <div class="bigContainer2">
        <router-outlet></router-outlet>
    </div>

</div>