<mat-card>
  <div *ngIf="!loading else loadingScreen;">

    <mat-card-header>
      <mat-card-title fxLayoutAlign="center">
        <mat-icon>perm_identity</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact
      </mat-card-title>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content class="entry">

      <a href="mailto:{{contact.contact.email}}">{{contact.contact.email}}</a>

      <div *ngIf="contact.contact.phones">
        <a *ngFor="let phone of contact.contact.phones" href="tel:+{{phone.countryCode}}{{phone.number}}"
          target="_blank"><p>{{phone.type}}: +{{phone.countryCode}} {{phone.number}}</p></a>
      </div>

      <div *ngIf="contact.contact.links">
        <a *ngFor="let link of contact.contact.links" href="{{link.url}}" target="_blank"><p>{{link.name}}</p></a>
      </div>

    </mat-card-content>

  </div>

  <ng-template #loadingScreen>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>

</mat-card>