<div fxLayout="column">
    <app-title [bgImage]=contact [matIcon]="'perm_identity'" [title]="'Contact'"></app-title>
    <mat-card class="stdMargin">
        <p fxLayout="row" fxLayoutAlign="start center"><img src='../../assets/git.png' *ngIf="isDark"
                style='width:1em;'><img src='../../assets/gitDark.png' *ngIf="!isDark"
                style='width:1em;'>&nbsp;&nbsp;&nbsp;<a href="https://github.com/ImranR98" target="_blank">GitHub</a>
        </p>
        <p fxLayout="row" fxLayoutAlign="start center"><img src='../../assets/link.png'
                style='width:1em;'>&nbsp;&nbsp;&nbsp;<a href="https://www.linkedin.com/in/imran-remtulla-419564158/"
                target="_top">LinkedIn</a></p>
        <p fxLayout="row" fxLayoutAlign="start center"><img src='../../assets/mail.png'
                style='width:1em;'>&nbsp;&nbsp;&nbsp;<a href="mailto:iremtulla15@gmail.com" target="_top">Email</a>
        </p>
    </mat-card>
</div>