<app-other-pages-container [title]="'Skills'" [icon]="'emoji_symbols'">
    <div fxLayout="column">
        <div fxLayout="column" fxLayoutGap="0.5em">
            <span class="xLargeText">Web Development</span>
            <div fxLayout="row wrap" fxLayoutGap="1em">
                <p>Angular</p>
                <p>Node.js</p>
                <p>Express.js</p>
                <p>React</p>
                <p>jQuery</p>
                <p>AJAX</p>
                <p>REST APIs</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="0.5em" class="stdMarginTop">
            <span class="xLargeText">Database Management</span>
            <div fxLayout="row wrap" fxLayoutGap="1em">
                <p>PostgreSQL</p>
                <p>MongoDB</p>
                <p>Oracle 12c</p>
                <p>MySQL</p>
                <p>IBM DB2</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="0.5em" class="stdMarginTop">
            <span class="xLargeText">Platform</span>
            <div fxLayout="row wrap" fxLayoutGap="1em">
                <p>Pivotal Cloud Foundry</p>
                <p>Concourse CI</p>
                <p>Apigee API Management</p>
                <p>Jira</p>
                <p>ServiceNow</p>
                <p>Heroku</p>
                <p>Azure DevOps</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="0.5em" class="stdMarginTop">
            <span class="xLargeText">Languages</span>
            <div fxLayout="row wrap" fxLayoutGap="1em">
                <p>Javascript</p>
                <p>C++ / C</p>
                <p>TypeScript</p>
                <p>SQL</p>
                <p>Java</p>
                <p>CLLE</p>
                <p>RPGLE</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="0.5em" class="stdMarginTop">
            <span class="xLargeText">Development Tools</span>
            <div fxLayout="row wrap" fxLayoutGap="1em">
                <p>Visual Studio</p>
                <p>Visual Studio Code</p>
                <p>Eclipse</p>
                <p>Sublime</p>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div fxLayout="column" fxLayoutGap="0.5em" class="stdMarginTop">
            <span class="xLargeText">Other</span>
            <div fxLayout="row wrap" fxLayoutGap="1em">
                <p>Git</p>
                <p>Angular Material</p>
                <p>NgRx</p>
                <p>HTML / CSS</p>
                <p>Adobe Photoshop</p>
            </div>
        </div>
    </div>
</app-other-pages-container>