<app-title [title]="'Skills'" [icon]="'emoji_symbols'"></app-title>

<div fxLayout="column" class="stdMargin">
    <div fxLayout="column" fxLayoutGap="0.5em">
        <span class="xLargeText">Web Development</span>
        <div fxLayout="row wrap" fxLayoutGap="1em">
            <p>Angular (with Angular Material Component Library)</p>
            <p>Node.js</p>
            <p>Express.js</p>
            <p>React</p>
            <p>jQuery</p>
            <p>REST APIs</p>
            <p>HTML</p>
            <p>CSS</p>
            <p>JavaScript</p>
            <p>TypeScript</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="0.5em" class="stdMarginTop">
        <span class="xLargeText">Database Management</span>
        <div fxLayout="row wrap" fxLayoutGap="1em">
            <p>MongoDB</p>
            <p>SQL (PostgreSQL, MySQL)</p>
            <p>PL/SQL (Oracle 12c)</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="0.5em" class="stdMarginTop">
        <span class="xLargeText">Development Tools</span>
        <div fxLayout="row wrap" fxLayoutGap="1em">
            <p>Visual Studio</p>
            <p>Visual Studio Code</p>
            <p>Android Studio</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="0.5em" class="stdMarginTop">
        <span class="xLargeText">Platforms</span>
        <div fxLayout="row wrap" fxLayoutGap="1em">
            <p>Pivotal Cloud Foundry</p>
            <p>Concourse CI</p>
            <p>Apigee API Management</p>
            <p>Jira</p>
            <p>ServiceNow</p>
            <p>Heroku</p>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div fxLayout="column" fxLayoutGap="0.5em" class="stdMarginTop">
        <span class="xLargeText">Other</span>
        <div fxLayout="row wrap" fxLayoutGap="1em">
            <p>Android (with Java)</p>
            <p>C</p>
            <p>C++</p>
            <p>Java</p>
            <p>Git</p>
            <p>UNIX (including Shell Scripting)</p>
            <p>Adobe Photoshop</p>
        </div>
    </div>
</div>