.manulife {
    background-color: #0b331b;
}

.manulife .logo {
    background-color: #1fa755;
}

.seneca {
    background-color: #470400;
}

.seneca .logo {
    background-color: #d60c00;
}

.ryerson {
    background-color: #001a35;
}

.ryerson .logo {
    background-color: #004c9a;
}