@keyframes compactNavbar {
    from {
        padding: 1.5rem 0;
        box-shadow: none;
        background-color: rgb(29, 35, 68);
    }
    to {
        padding: 1rem 0;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(40, 47, 94);
    }
}

@keyframes unCompactNavbar {
    from {
        padding: 1rem 0;
        box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        background-color: rgb(40, 47, 94);
    }
    to {
        padding: 1.5rem 0;
        box-shadow: none;
        background-color: rgb(29, 35, 68);
    }
}

.navbar {
    position: sticky;
    top: 0;
    padding: 1.5rem 0;
    box-shadow: none;
    animation-name: unCompactNavbar;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    z-index: 100;
    background-color: rgb(29, 35, 68);
}

.navbar.compact {
    padding: 1rem 0;
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    animation-name: compactNavbar;
    animation-duration: 0.2s;
    animation-timing-function: ease;
    background-color: rgb(40, 47, 94);
}

.navbar h1 {
    margin: 0 1rem;
    font-size: larger;
}

.navbar .links {
    margin-left: auto;
    font-weight: bold;
}

.navbar a {
    margin: 0 1rem;
    text-decoration: none;
    transition: 0.2s ease;
}

.navbar a:hover {
    color: #ff9100;
    transition: 0.2s ease;
}
