.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(min(29rem, calc(100vw - 4rem)), 1fr));
}

.section {
    text-align: center;
    padding: 2rem;
    padding-bottom: 3rem;
    border-top: 1px solid rgb(56, 67, 117);
}

.section h2 {
    margin-bottom: 2rem;
}
