.footer {
    z-index: 100;
    padding: 0.5rem;
    background-color: rgb(23, 28, 54);
    border-top: 1px solid rgb(56, 67, 117);
}

.footer a {
    text-decoration: inherit;
    font-weight: bold;
}
