<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="3em" class="stdPadding">
    <div fxLayout="column" fxLayoutGap="1em" fxFlex="100%">
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center" class="fadeIntoView">
            <img alt="Ryerson University logo" src="/static/images/ryerson.jpg" class="logo">
            <div fxLayout="column" fxLayoutGap="0.5em">
                <div fxLayout="column">
                    <h2>Ryerson University</h2>
                    <p>Computer Science (BSc)</p>
                </div>
                <small>September 2020 - December 2022</small>
            </div>
        </div>
    </div>
    <div fxLayout="column" fxLayoutGap="1em" fxFlex="100%">
        <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="default center" class="fadeIntoView">
            <img alt="Seneca College logo" src="/static/images/seneca.jpg" class="logo">
            <div fxLayout="column" fxLayoutGap="0.5em">
                <div fxLayout="column">
                    <h2>Seneca College</h2>
                    <p>Computer Programming and Analysis (Ontario College Advanced Diploma)</p>
                </div>
                <small>September 2017 - December 2020</small>
            </div>
        </div>
    </div>
</div>