<div fxLayout="column" fxLayoutGap="1em">
  <mat-card [ngStyle]="{'background-image': 'url(' + skills + ')'}">
    <mat-card-title fxLayout="row" fxLayoutAlign="start top" fxLayoutAlign.lt-sm="center top">
      <mat-icon>code_outline</mat-icon>Skills
    </mat-card-title>
  </mat-card>

  <mat-card fxLayout="row-wrap" fxLayout.lt-sm="column" fxLayoutAlign="start start center" fxLayoutAlign.lt-sm="center center center"
    fxLayoutGap="2em" fxLayoutGap.lt-sm="0em">
    <div>
      <div fxLayout="column" fxLayoutAlign.lt-sm="default center">
        <p>Web Development</p>
        <mat-card-subtitle>Angular</mat-card-subtitle>
        <mat-card-subtitle>Node.js</mat-card-subtitle>
        <mat-card-subtitle>Express.js</mat-card-subtitle>
      </div>
      <div fxLayout="column" fxLayoutAlign.lt-sm="default center">
        <p>Languages</p>
        <mat-card-subtitle>Javascript</mat-card-subtitle>
        <mat-card-subtitle>C++ / C</mat-card-subtitle>
        <mat-card-subtitle>TypeScript</mat-card-subtitle>
        <mat-card-subtitle>SQL</mat-card-subtitle>
      </div>
    </div>
    <div>
      <div fxLayout="column" fxLayoutAlign.lt-sm="default center">
        <p>Database Management</p>
        <mat-card-subtitle>PostgreSQL</mat-card-subtitle>
        <mat-card-subtitle>MongoDB</mat-card-subtitle>
        <mat-card-subtitle>Oracle 12c</mat-card-subtitle>
        <mat-card-subtitle>MySQL</mat-card-subtitle>
        <mat-card-subtitle>IBM DB2</mat-card-subtitle>
      </div>
      <div fxLayout="column" fxLayoutAlign.lt-sm="default center">
        <p>Development Tools</p>
        <mat-card-subtitle>Visual Studio</mat-card-subtitle>
        <mat-card-subtitle>Visual Studio Code</mat-card-subtitle>
        <mat-card-subtitle>Eclipse</mat-card-subtitle>
        <mat-card-subtitle>Sublime</mat-card-subtitle>
      </div>
    </div>
    <div>
      <div fxLayout="column" fxLayoutAlign.lt-sm="default center">
        <p>Other</p>
        <mat-card-subtitle>Git</mat-card-subtitle>
        <mat-card-subtitle>Angular Material</mat-card-subtitle>
        <mat-card-subtitle>NgRx</mat-card-subtitle>
        <mat-card-subtitle>HTML / CSS</mat-card-subtitle>
        <mat-card-subtitle>Adobe Photoshop</mat-card-subtitle>
      </div>
    </div>
  </mat-card>
</div>