<mat-card>
  <div *ngIf="!loading else loadingScreen;">

    <mat-card-header>
      <mat-card-title fxLayoutAlign="center">
        <mat-icon>code</mat-icon>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Skills
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>

    <mat-card-content class="entry" *ngIf="skills">
        <p *ngFor="let entry of skills.entries">{{entry.skill}}</p>
    </mat-card-content>

  </div>

  <ng-template #loadingScreen>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </ng-template>

</mat-card>