<mat-card>
    <div fxLayout="column" fxLayoutAlign.lt-sm="center center">
        <mat-card-title>Imran Remtulla</mat-card-title>
        <mat-card-subtitle>Toronto&nbsp;&nbsp;<img src='../../assets/ca.svg' style='width:12pt;'></mat-card-subtitle>
        <mat-card-subtitle><small>Software development student with a passion for learning and an interest in Web and App development</small></mat-card-subtitle>
    </div>
    <mat-card-content fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center" fxLayoutGap="1em">
        <div fxLayout.lt-xs="column" fxLayoutGap="1em">
            <button mat-raised-button color="primary" routerLinkActive="active"
                routerLink="/experience">Experience</button>
            <button mat-raised-button color="primary" routerLinkActive="active"
                routerLink="/education">Education</button>
        </div>
        <div fxLayout.lt-xs="column" fxLayoutGap="1em">
            <button mat-raised-button color="primary" routerLinkActive="active" routerLink="/skills">Skills</button>
            <button mat-raised-button color="primary" routerLinkActive="active" routerLink="/contact">Contact</button>
        </div>
        <div fxLayout.lt-xs="column" fxLayoutGap="1em">
            <button mat-raised-button color="accent" routerLinkActive="activeAccent" routerLink="/about">About</button>
        </div>
    </mat-card-content>
</mat-card>