<div class="headerBG stdPadding mat-elevation-z1" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-card-title class="noMargin"><a routerLink="/">Imran Remtulla</a></mat-card-title>

    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start start" fxHide fxShow.gt-sm>
        <button mat-button routerLinkActive="active" routerLink="/experience">
            Experience
        </button>
        <button mat-button routerLinkActive="active" routerLink="/education">
            Education
        </button>
        <button mat-button routerLinkActive="active" routerLink="/projects">
            Projects
        </button>
        <button mat-button routerLinkActive="active" routerLink="/skills">
            Skills
        </button>
        <button mat-button routerLinkActive="active" routerLink="/contact">
            Contact
        </button>
        <button mat-button routerLinkActive="active" routerLink="/about">
            About
        </button>
    </div>

    <div fxLayout="row" fxLayoutGap="1em" fxLayoutAlign="start start" fxHide fxShow.sm>
        <button mat-icon-button routerLinkActive="active" routerLink="/experience" matTooltip="Experience" aria-label="Experience">
            <mat-icon>work_outline</mat-icon>
        </button>
        <button mat-icon-button routerLinkActive="active" routerLink="/education" matTooltip="Education" aria-label="Education">
            <mat-icon>book_outline</mat-icon>
        </button>
        <button mat-icon-button routerLinkActive="active" routerLink="/projects" matTooltip="Projects" aria-label="Projects">
            <mat-icon>code</mat-icon>
        </button>
        <button mat-icon-button routerLinkActive="active" routerLink="/skills" matTooltip="Skills" aria-label="Skills">
            <mat-icon>emoji_symbols</mat-icon>
        </button>
        <button mat-icon-button routerLinkActive="active" routerLink="/contact" matTooltip="Contact" aria-label="Contact">
            <mat-icon>perm_identity</mat-icon>
        </button>
        <button mat-icon-button routerLinkActive="active" routerLink="/about" matTooltip="About" aria-label="About">
            <mat-icon>info_outline</mat-icon>
        </button>
    </div>

    <button mat-icon-button routerLinkActive="active" [matMenuTriggerFor]="menu" matTooltip="More" aria-label="More" fxHide fxShow.lt-sm>
        <mat-icon>more_vert</mat-icon>
    </button>

    
</div>
<mat-menu #menu="matMenu" fxHide fxShow.lt-sm>
        <button mat-menu-item routerLinkActive="active" routerLink="/experience">Experience</button>
        <button mat-menu-item routerLinkActive="active" routerLink="/education">Education</button>
        <button mat-menu-item routerLinkActive="active" routerLink="/projects">Projects</button>
        <button mat-menu-item routerLinkActive="active" routerLink="/skills">Skills</button>
        <button mat-menu-item routerLinkActive="active" routerLink="/contact">Contact</button>
        <button mat-menu-item routerLinkActive="active" routerLink="/about">About</button>
    </mat-menu>