@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Manrope";
  color: #FFF;
}

html {
  background-color: #000036;
}

.content {
  min-height: 200rem;
}

.accent {
  color: #ff9100;
}

.stdPadding {
  padding: 1rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.centerFlex {
  align-items: center;
  justify-items: center;
}