/* Basic Styling */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  font-family: "Manrope";
}

html {
  background-color: rgb(212, 219, 255);
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  background-color: rgb(15, 18, 32);
  color: #FFF;
}

a {
  color: inherit;
}

.accent {
  color: #ff9100;
}

.icon {
  max-width: 0.8rem;
}

.Toastify__toast {
  border-radius: 0 !important;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.Toastify__progress-bar {
  background: #ff9100 !important;
}

/* Common General Styles */
.stdPadding {
  padding: 1rem;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.centerFlex {
  align-items: center;
  justify-items: center;
}

.mobileOnly {
  display: none;
}

.shadow {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Section Backgrounds */
.work {
  background-color: rgb(23, 28, 54);
}
.study {
  background-color: rgb(19, 23, 44);
}
.projects {
  background-color: rgb(15, 19, 36);
}
.skills {
  background-color: rgb(12, 15, 29);
}

/* Mobile Adjustments - Common General Styles */
@media (max-width: 800px) {
  .noMobile {
    display: none;
  }

  .mobileOnly {
    display: inherit;
  }
}

/* Common Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1.0;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1.0;
  }
  to {
    opacity: 0;
  }
}

.fadeIn {
  opacity: 1.0;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  animation-timing-function: ease;
}

.fadeOut {
  opacity: 0;
  animation-name: fadeOut;
  animation-duration: 0.2s;
  animation-timing-function: ease;
}
