// Angular Material Theme Imports
@import "~@angular/material/theming";
@include mat-core();

// Font Import
@font-face {
  font-family: "Roboto";
  src: local("Roboto"), url(./assets/fonts/Roboto.ttf) format("truetype");
}

// Angular Material Theme Variables
$primary-mat-color: mat-palette($mat-indigo);
$accent-mat-color: mat-palette($mat-pink);
$warning-mat-color: mat-palette($mat-red);
$light-mat-theme: mat-light-theme(
  (
    color: (
      primary: $primary-mat-color,
      accent: $accent-mat-color,
      warning: $warning-mat-color
    ),
  )
);
$dark-mat-theme: mat-dark-theme(
  (
    color: (
      primary: $primary-mat-color,
      accent: $accent-mat-color,
      warning: $warning-mat-color
    ),
  )
);

// Other Variables
$dark-theme-background: #2c2c2c;
$dark-theme-text: #ffffff;

// Light Theme Specific Rules
@media (prefers-color-scheme: light) {
  @include angular-material-theme($light-mat-theme);
}

// Dark Theme Specific Rules
@media (prefers-color-scheme: dark) {
  @include angular-material-color($dark-mat-theme);

  html,
  body {
    background-color: $dark-theme-background !important;
    color: $dark-theme-text !important;
  }
}

// All Other Rules
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
}

.stdPadding {
  padding: 1em !important;
}

.fillHeight {
  height: 100vh;
}
