<div id="about" class="fillHeight" [ngClass]="{ 'fadeIn': imageLoaded, 'hidden': !imageLoaded }">
    <app-top-bar></app-top-bar>
    <div fxLayout="column" fxLayoutGap="1em">
        <div class="about lightBackground" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="3em"
            fxLayoutGap.lt-sm="1em" fxLayoutAlign="center center">
            <img src="../../assets/images/me.png" class="me" (load)="loaded()">
            <div fxLayout="column" fxLayoutGap="1em">
                <span>Hi <h1>I'm <span class="accentedText">Imran Remtulla</span></h1></span>
                <small>I'm {{descriptionString}}<span class="accentedText bold">{{showCaret || overrideShowCaret ? '|' :
                        ''}}</span></small>
            </div>
        </div>
        <div id="work" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center center">

        </div>
        <div id="studies" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center center">

        </div>
        <div id="projects" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center center">

        </div>
        <div id="skills" fxLayout="column" fxLayoutGap="1em" fxLayoutAlign="center center">

        </div>
    </div>
</div>
<div *ngIf="!imageLoaded" class="fillHeight stdPadding" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner color="accent"></mat-spinner>
</div>